@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type='text'],
input[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
input:focus {
  outline: none;
  box-shadow: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('img/Background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  -o-background-size: cover;
  background-size: cover;
  letter-spacing: 1.1px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: white;
}

.standard-button {
  font-size: 24px;
  width: 200px;
  color: white;
  height: 56px;
  border: 1px solid #00e7d0;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
  background: transparent;
  outline: none;
  margin: auto;
}

.standard-button:disabled {
  color: white;
  border-color: #3e455d;
}

@media only screen and (max-width: 480px) {
  .standard-button {
    height: 48px;
  }
}
